* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --white: white;
    --text: black;
}

body {
    background: var(--white);
    font-weight: 400;
}


.container {
    max-width: 1230px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}